@font-face {
  font-family: NunitoBlack;
  src: url("../fonts/Nunito/Nunito-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: NunitoBold;
  src: url("../fonts/Nunito/Nunito-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: NunitoRegular;
  src: url("../fonts/Nunito/Nunito-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: RobotoBlack;
  src: url("../fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: RobotoBold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
