@import url("media/media-about.css");
@import url("media/media-blog.css");
@import url("media/media-shop.css");
@import url("media/media-gallery.css");
@import url("media/media-contacts.css");
@import url("media/media-shop-single.css");
@import url("media/media-blog-single.css");
@import url("media/media-gallery-single.css");

@media (max-width: 1160px) {
  .classes__images-item {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  .classes__images-item img {
    width: 100%;
  }
  .classes__images-item:nth-child(2) {
    border-radius: 0;
  }
  .classes__images-item:first-child {
    border-top-right-radius: 35px;
  }
  .classes__head-part,
  .steps-future__head-part,
  .about__head-part,
  .shop__head-part,
  .testimonials__head-part,
  .blog__head {
    font-size: 36px;
  }

  .contacts,
  .call-box,
  .testimonials {
    background-size: cover;
  }
  .contacts__list {
    flex-wrap: wrap;
  }
  .contacts__item {
    width: 50%;
    text-align: center;
  }

  .about__desc {
    padding-left: 50px;
  }

  .testimonials {
    padding-top: 50px;
  }

  .footer-logo {
    display: none;
  }
  .footer-contacts {
    flex-grow: 3;
  }
}

@media (max-width: 800px) {
  .nav-menu__list {
    visibility: hidden;
    width: 100px;
  }
  .nav-menu__list--visible {
    position: fixed;
    left: 0;
    top: 0;
    width: 30%;
    display: block;
    z-index: 100;
    background: #ffbebe;
  }
  .nav-menu {
    position: relative;
    line-height: 40px;
    text-align: center;
    order: 3;
    margin-right: 20px;
  }
  .nav-menu::before,
  .nav-menu::after {
    position: absolute;
    display: block;
    content: "";
    cursor: pointer;
    right: 0;
    left: 0;
  }
  .nav-menu::before {
    top: 0;
    bottom: 0;
    border-top: 10px solid #304566;
    border-bottom: 10px solid #304566;
    border-radius: 10px;
  }
  .nav-menu::after {
    border: none;
    background: #304566;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .classes__head-part,
  .steps-future__head-part,
  .about__head-part,
  .shop__head-part,
  .testimonials__head-part,
  .blog__head {
    font-size: 28px;
  }
  .classes__desc {
    padding-left: 50px;
  }

  .contacts__list {
    flex-direction: column;
    align-items: center;
  }
  .contacts__item {
    width: 100%;
    padding: 32px;
  }

  .steps-future {
    margin-bottom: 0;
  }
  .steps-future__list,
  .testimonials__list,
  .blog__list {
    flex-wrap: wrap;
  }
  .steps-future__item {
    margin-bottom: 200px;
  }

  .call-box__desc {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .call-box__phone {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .gallery__item {
    width: 100%;
  }

  .testimonials__list {
    margin: 0 50px;
  }
  .testimonials__item,
  .blog__item {
    margin-bottom: 50px;
  }

  .blog .blog__list {
    justify-content: center;
  }
  .blog__item {
    margin-bottom: 100px;
  }

  .footer-nav-menu {
    display: none;
  }
}
@media (max-width: 600px) {
  .nav-menu__list {
    width: 50px;
  }
  .nav-menu {
    height: 50px;
  }
  .nav-menu::before {
    border-top: 6px solid #304566;
    border-bottom: 6px solid #304566;
    border-radius: 6px;
  }
  .nav-menu::after {
    height: 6px;
  }

  .classes__head-part,
  .steps-future__head-part,
  .about__head-part,
  .shop__head-part,
  .testimonials__head-part,
  .blog__head {
    font-size: 24px;
  }
  .classes__desc {
    padding-left: 20px;
  }
  .classes__item {
    font-size: 12px;
  }

  .about__image,
  .about__desc {
    width: 100%;
  }

  .gallery__desc {
    display: none;
  }

  .footer-top__item {
    width: 100%;
  }
  .footer-contacts .footer-nav-menu {
    display: block;
  }
  .footer-contacts {
    flex-grow: 1;
  }
}
