/* ----------------- FONTS ----------------- */
.blog-single__text,
.blog-single__item,
.blog-single__quotes-author,
.user-comment__text,
.blog-single__reply-text,
.blog-single__form-checkbox {
  font-family: "RobotoRegular", sans-serif;
  font-weight: 400;
  color: #7d7d7d;
}
.blog-single__head,
.blog-single__quotes-text,
.comments__head,
.user-avatar__date,
.comments__reply,
.blog-single__head,
.blog-single__extra-content-head {
  font-family: "NunitoBlack", sans-serif;
  font-weight: 900;
  color: #304566;
}
.blog-single__quotes-text,
.comments__reply {
  font-family: "NunitoBold", sans-serif;
  font-weight: 700;
}

/* ----------------- COMMON ----------------- */
.blog-single__form-element::placeholder {
  color: #c4c4c4;
  font-weight: 400;
}

/* ----------------- CONTENT ----------------- */
.wrapper-blog-single {
  display: flex;
  justify-content: space-between;
}
.blog-single__main {
  width: 82%;
}
.blog-single__image {
  position: relative;
  margin-bottom: 75px;
}
.blog-single__image img {
  border-radius: 30px;
  width: 100%;
}
.blog-single__category {
  position: absolute;
  z-index: 100;
  color: #fff;
  top: 0;
  right: 0;
  background: #f5c956;
  border-radius: 50px;
  margin: 20px;
  padding: 10px 16px;
  font-size: 20px;
}
.blog-single__content .blog__author {
  margin-bottom: 10px;
}
.blog-single__head {
  font-size: 40px;
  margin: 0;
}
.blog-single__text {
  line-height: 30px;
}
.blog-single__extra-images {
  margin-top: 50px;
  margin-bottom: 65px;
  display: flex;
  justify-content: space-between;
}
.blog-single__extra-content-head {
  font-size: 30px;
}
.blog-single__item {
  position: relative;
  margin: 25px 70px;
}
.blog-single__item::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  background: url("../../images/Group\ 11.png") 0 0 no-repeat;
  width: 20px;
  height: 20px;
  margin-left: -35px;
}
.blog-single__item:nth-child(even)::before {
  background: url("../../images/Group\ 12.png") 0 0 no-repeat;
}
.blog-single__quotes {
  position: relative;
  padding-left: 50px;
  margin: 82px 100px 55px;
}
.blog-single__quotes-text {
  font-size: 20px;
  margin-bottom: 20px;
}
.blog-single__quotes::before {
  position: absolute;
  display: block;
  content: "";
  width: 80px;
  height: 80px;
  top: 0;
  left: -60px;
  border-radius: 50%;
  background: #fff8b8 url(../../images/quote-hand-drawn-symbol\ 1.png) center
    center no-repeat;
}
.blog-single__categories-list {
  display: flex;
  margin: 60px 0;
}
.blog-single__categories-item {
  color: #fff;
  background: #b3d0fd;
  padding: 10px 23px;
  margin-right: 15px;
  border-radius: 50px;
}
.blog-single__comments {
  margin-top: 100px;
  margin-bottom: 85px;
}
.comments__head {
  margin-left: 8px;
  font-size: 40px;
  position: relative;
  display: inline-block;
  z-index: 10;
  margin-bottom: 45px;
}
.comments__head::after {
  position: absolute;
  display: block;
  content: "";
  left: -8px;
  right: -8px;
  bottom: 3px;
  height: 20px;
  background-color: #fff8b8;
  border-radius: 50px;
  z-index: -1;
}
.comments__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #fefbf4;
  padding: 35px;
  border-radius: 35px;
  margin-bottom: 20px;
}
.comments__item:nth-child(2) {
  margin-left: 175px;
}
.comments__item:nth-child(2)::before {
  position: absolute;
  display: block;
  content: "";
  width: 100px;
  height: 100px;
  top: 75px;
  left: -150px;
  background: url("../../images/Group40.png") 0 0 no-repeat;
}
.user-avatar__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 25px;
}
.user-avatar__date {
  text-align: center;
}
.user-comment__text {
  line-height: 26px;
}
.comments__reply {
  position: absolute;
  top: 35px;
  right: 10px;
  color: #ffa1ac;
  border: none;
  background: transparent;
  font-size: 19px;
}
.user-comment {
  padding: 0 35px;
}
.user-comment__name {
  color: #ffa1ac;
  font-size: 20px;
  margin-bottom: 10px;
}
.blog-single__reply {
  background: #fefbf4;
  padding: 0 40px;
  border-radius: 35px;
  margin-bottom: 105px;
}
.blog-single__reply-head {
  font-size: 40px;
  margin: 28px 0 10px;
  color: #304566;
  position: relative;
  z-index: 10;
  display: inline-block;
}
.blog-single__reply-head::after {
  position: absolute;
  display: block;
  content: "";
  left: -8px;
  right: -8px;
  bottom: 3px;
  height: 20px;
  background-color: #fff8b8;
  border-radius: 50px;
  z-index: -1;
}
.blog-single__form-element {
  width: 100%;
  padding: 17px;
  border: none;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.blog-single__reply-text {
  letter-spacing: 1px;
  margin-bottom: 50px;
}
.blog-single__form-checkbox {
  margin-bottom: 20px;
}
.blog-single__form-checkbox input,
.blog-single__form-checkbox label {
  letter-spacing: 1px;
  display: inline-block;
  width: auto;
}
.blog-single__form-element--btn {
  box-shadow: 0 0 0 5px #b3d0fd;
  font-size: 18px;
  border: 2px dashed #fff;
  outline: none;
  background-color: #b3d0fd;
  color: #fff;
  margin: 10px auto 35px;
  padding: 12px 46px;
  border-radius: 50px;
  cursor: pointer;
  width: auto;
}
/* 
.blog-single__content
.blog-single__extra-content
.blog-single__quotes-author
.blog-single__comments
.blog-single__head
.blog-single__text
.blog-single__form
.blog-single__form-checkbox */
